@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'tailwindcss';

@theme {
    --font-dotgothic: "DotGothic16", sans-serif;
    --font-doto: "Doto", sans-serif;
    --font-oxanium: "Oxanium", sans-serif;
    --font-press-start: "Press Start 2P", sans-serif;
}
